<a href="https://colab.research.google.com/github/PabloAndree/Python_PA/blob/main/Poblacion_y_muestreo/Caso_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Población y muestreo

In [ ]:
N = 23_375_001
desv = 0.5
# Z para 90% de confianza 1.64
# Z para 95% de confianza 1.96
# Z para 99% de confianza 2.57
Z = 1.64
error = 0.01

In [ ]:
n = (Z**2)*(desv**2)*(N)/((error**2)*(N-1) + (Z**2)*(desv**2))

In [ ]:
round(n)

6722

## muestreo estratificado

In [ ]:
import pandas as pd

In [ ]:
pddf = pd.read_csv('train.csv')
pddf.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [ ]:
pddf.columns.tolist()

['Unnamed: 0',
 'id',
 'Gender',
 'Customer Type',
 'Age',
 'Type of Travel',
 'Class',
 'Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes',
 'satisfaction']

In [ ]:
len(pddf)

103904

In [ ]:
N = 103_904
desv = 0.5
# Z para 90% de confianza 1.64
# Z para 95% de confianza 1.96
# Z para 99% de confianza 2.57
Z = 1.96
error = 0.098

n = (Z**2)*(desv**2)*(N)/((error**2)*(N-1) + (Z**2)*(desv**2))
print(f"El tamaño muestral es: {round(n)}")

El tamaño muestral es: 100

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
muestra_focus, complemento = train_test_split(pddf,
                             train_size = 100,
                             random_state = 123)

In [ ]:
muestra_focus

In [ ]:
Customer Type, Clase, Genero, Age, Type of Travel

In [ ]:
pddf.groupby('satisfaction')['id'].count()

satisfaction
neutral or dissatisfied    58879
satisfied                  45025
Name: id, dtype: int64

In [ ]:
pddf.groupby('Gender')['id'].count()

Gender
Female    52727
Male      51177
Name: id, dtype: int64

In [ ]:
muestra_focus.groupby('satisfaction')['id'].count()

satisfaction
neutral or dissatisfied    54
satisfied                  46
Name: id, dtype: int64

## muestreo estratificado

In [ ]:
muestra_focus, complemento = train_test_split(pddf,
                             stratify = pddf[['Gender', 'satisfaction']],
                             train_size = 100,
                             random_state = 123)

In [ ]:
muestra_focus.groupby('satisfaction')['id'].count()

satisfaction
neutral or dissatisfied    57
satisfied                  43
Name: id, dtype: int64

In [ ]:
muestra_focus.groupby('Gender')['id'].count()

Gender
Female    51
Male      49
Name: id, dtype: int64